<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-homePage</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    
</head>
<body>
    <%-include("header.ejs")%>
    <!--Here I add div where I see every post-->
    <div class="homeContainer">
      <% if (posts.length === 0) { %>
         <p id="defaultHometext">You have to create a new post</p>
      <% } else { %>
        <ul class="homeUl">
            <% posts.forEach((post) => { %>
             
             
                <li class="liItem">
                 <p><%=post.stringDate%></p>
                 <h3> <a href="/view/<%=posts.indexOf(post)%>"><%=post.title%></a></h3>
                 <p><%=post.content%></p>
               </li>
             
              
            <% }) %>
          </ul>
          
        </div>


        <% } %> 

    
</body>
</html>